<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <%- include('partials/nav.ejs')%>
    <h1>This is the About page</h1>
    <form action="">
        <label for="who">Name</label>
        <input type="text" name="who" id="who" value="">
        <label for="Job">Job</label>
        <input type="text" name="job" id="job" value="">
        <label for="who">Name</label>
        <input type="text" name="who" id="who" value="">
    </form>

</body>
</html>